<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.CollectionMapper">

    <resultMap id="BaseResultMap" type="com.cc.entity.Collection">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="songName" column="song_name" jdbcType="VARCHAR"/>
            <result property="songSinger" column="song_singer" jdbcType="VARCHAR"/>
            <result property="songAlbum" column="song_album" jdbcType="VARCHAR"/>
            <result property="songUrl" column="song_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,song_name,
        song_singer,song_album,song_url
    </sql>
</mapper>
